.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}

.brand-name {
  margin: 20px;
}

.brand-name span {
  font-style: italic;
  color: rgb(96, 223, 44);
}

.status {
  margin: 20px 20px 40px 20px;
  border: 1px solid #ccc;
  background-color: white;
  color: #090909;
  letter-spacing: 1px;
  font-family: century gothic;
}

.status-header {
  padding: 5px 10px;
  margin: 0;
  color: white;
  background-color: #222121d8;
  text-align: left;
}

.status-content {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.line-name, .status-desc {
  font-size: 14px;
}

.line-name {
  flex: 0.5;
  text-transform: uppercase;
}

.status-desc {
  text-align: right;
  flex: 0.5;
  position: relative;
  top: 7px;
}

.status-reason {
  width: 100%;
}
