.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}

.status {
  margin: 20px 10px;
  border: 1px solid #ccc;
  background-colod: white;
  color: #090909;
  letter-spacing: 1px;
  font-family: century gothic;
}

.status-header {
  padding: 5px 10px;
  margin: 0;
  color: white;
  background-color: #222121d8;
  text-align: left;
}

.status-content {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
